In [1]:
import pandas as pd

In [5]:
coins = pd.read_csv("stein_coins.txt", delim_whitespace=True)

In [6]:
coins

     42
0    42
1    11
2     0
3    26
4    10
5     1
6     0
7     4
8    10
9     0
10   41
11   48
12   85
13    0
14    1
15  153
16    0
17   27
18  335
19   25
20    0
21   46
22    1
23  327
24  321
25    0
26  423
27    0
28    0
29    7
30  217